* {
    box-sizing: border-box;
  }
  
  
  body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial;
  }
  
  :root {
  --grey: rgb(238, 238, 238);
  --design: #00BCD4;
  --dev: #009688;
  --motion: #673ab7;
  }
  
  h1 {
    margin: 0 auto;
  }
  
  .crappybrowser {
    color: white;
  font-size: 8vmin;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/429997/grumpycat.jpeg);
  background-repeat: no repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-align: center;
  }
  
  .crappybrowser h1 {
    max-width: 650px;
    padding-left: 2vmin;
    padding-right: 2vmin;
    text-shadow: 2px 2px 2px black;
  }
  
  .crappybrowser a {
    color: rgb(5, 198, 255);
  text-decoration: none;
  margin: auto;
  border-bottom: dotted 1px currentcolor;
  text-shadow: 2px 2px 2px black;
  font-style: italic;
  }
  
  @supports (display:grid) {
  
  .crappybrowser {
    display: none;
  }
  
  .gridcontainer {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 2fr repeat(10, 1fr) 2fr;
    background-color: var(--grey);
    justify-content: center;
    align-content: center;
    grid-template-areas: ".. ..  ..   ..      ..     ..     ..     .. .. .."
                         ".. ..  item5  item4     item2    ..     ..     .. .. .."
                         ".. ..  ..   item1     item1    ..     item13     .. .. .."
                         ".. ..  ..   item1     item1    item9  item10 .. .. .."
                         ".. ..  ..   item7   item3    item6  item6  .. .. .."
                         ".. ..  ..   item11   item8  item6  item6  .. .. .."
                         ".. ..  ..    item12     item14 item14  item17    item18 .. .."
                         ".. ..  ..    ..     item14 item14  item16    .. .. .."
                         ".. ..  ..    ..      ..    item15     ..    .. .. ..";
    grid-gap: 5px;
  }
  
  a {
    text-decoration: none;
  }
  
  h3, h2 {
    color: white;
    padding-top: 5px;
    margin: 0;
    padding-left: 5px;
    font-weight: 300;
  }
  
  [class^="griditem"] {
    border: solid transparent 1px;
    
  }
    [class^="griditem"]:hover {
      border: solid white 1px;
    }
    
  .griditem1 {
    grid-area: item1;
  }
  
  .griditem2 {
    grid-area: item2;
  }
  
  .griditem3 {
  grid-area: item3;
  }
  
  .griditem4 {
    grid-area: item4;
  }
  
  .griditem5 {
    grid-area: item5;
  }
  
  .griditem6 {
    grid-area: item6;
  }
  
  .griditem7 {
    grid-area: item7;
  }
  
  .griditem8{
    grid-area: item8;
  }
  
  .griditem9 {
    grid-area: item9;
  }
  
  .griditem10 {
    grid-area: item10;
  }
  
  .griditem11 {
    grid-area: item11;
  }
  
  .griditem12 {
    grid-area: item12;
  }
  
  
  .griditem13 {
    grid-area: item13;
  }
  
  .griditem14 {
    grid-area: item14;
  }
  
  .griditem15 {
    grid-area: item15;
  }
  
  .griditem16 {
    grid-area: item16;
  }
  
  .griditem17 {
    grid-area: item17;
  }
  
  .griditem18 {
    grid-area: item18;
  }
  
  .design {
    background-color: var(--design);
  }
    .design:hover {
      box-shadow: 12px 12px 35px 0px rgb(0, 88, 114);
    }
  
    .dev:hover {
      box-shadow: 12px 12px 35px 0px rgb(0, 61, 36);
    }
    
  .dev {
    background-color: var(--dev);
  }
  
  .motion {
    background-color: var(--motion);
  }
    .motion:hover {
      box-shadow: 12px 12px 35px 0px rgb(13, 12, 86);
    }
  
  }
  